@font-face {
  font-family: "HKGrotesk";
  src: url(HKGrotesk-Medium.woff) format("font-format"),
       url("the-path-to-your-font") format("font-format");
}


*{
	margin-left: 8px
}

.container{

}

body { 
	background:#DDA0DD

}
h1 {
	color:	#98FB98;
	font-family: courier new

}

h3{
	color:white;
}