

*{
	margin-left:15px;
}
 
.container{

}

body { 
	background-image: url('../images/ah2.png');
	background-size: cover;
	font-family: courier new;
	font-weight: bold; 
}

h1 {
	color:#8da38c;
	margin-left:;
/*	transform: scale(1.5);
/*	text-align: center;*/

}


#projects{
	color:#000000;
	font-family: courier new;
/*	margin-left: 700px;*/

}

#exercises{
	color:#000000;
/*	margin-left: 700px;
	margin-top:10px;
*/
}