

*{
/*	margin-left:15px;
*/}
 
.container{

}

body { 
	background-image: url('../images/ah2.png');
	background-size: cover;
	font-family: courier new;
	font-weight: bold; 
	margin-left: 100px;
}

h1 {
	/*color:#8da38c;*/
	color:black;
	/*text-align: center;*/
	font-size: 60px;
}

h2{
	/*color:#6d876c;*/
	color:black;
/*	margin-top: 0px;
*//*	text-align: center;
*/}

h3{
font-size: 25px;
}

.darkmode{
	position:relative;
	display: block;
/*	margin-left: 932px;*/
	margin-top: -310px;
	margin-left:350px;
	background-color:transparent;
/*	outline:none;
*//*	transform:rotate(330deg);
*/	transform: scale(0.2);
/*	mix-blend-mode: difference;
*/}

.darkmode:hover{
	cursor:pointer;
	filter: invert(100);
}

body.darkdark {
	background-image: url('../images/ah.png');

}

/*h1.darkdark{
	filter:inve;
}*/

.darkmode.darkdark{
	filter: invert(100%);
}




#projects{
	color:#000000;
	font-family: courier new;
	margin-top: 100px;
/*		align-content: center
*/
/*	width:300px;
	height:300px;
*/
/*	margin-left: 900px;
*/}

#split{
/*	display:block;
	position:absolute;*/
	width:300px;
	height:300px;

/*	margin-top:100px;
*/}

#comarch{
/*	display:block;
	position:absolute;*/
	width:300px;
	height:300px;
	/*margin-left:650px;
	margin-top:100px;*/
}

#zine{
/*	display:block;
	position:absolute;*/
width:300px;
	height:300px;
/*	margin-left:1200px;
	margin-top:100px;*/
}




#exercises{
	color:#000000;
/*	margin-left: 700px;
	margin-top:10px;
*/
}



	
