body{
	background-color:#b5d492;
}

@media screen and (min-width: 1700px) {
  body {
    transform:scale(0.7);
      }
}

@media screen and (max-width: 1700px) {
  body {
    transform:scale(0.7);
      }
}

@media screen and (max-width: 1200px) {
  body {
    transform:scale(0.6);
      }
}


.arrowback{
	position:absolute;
	margin-top: -200px;
	margin-left: -180px;
	transform:scale(0.2);
	filter: invert(100%);
	filter: brightness(50);
}

/*.letterform{
	position: absolute;
	margin-top: -50px;
	margin-left: -100px;
	transform: scale(0.5);
}*/

.letterformv1{
	position: absolute;
	margin-top: -50px;
	margin-left: -350px;
	transform: scale(0.6);
}

.numbers{
	position: absolute;
	margin-top: 750px;
	margin-left: -350px;
	transform: scale(0.6);
	padding-bottom: 100px;
}