body{
	background-color: #b4d192;
}


.arrowback{
		position:absolute;
	margin-top: -200px;
	margin-left: -180px;
	transform:scale(0.2);
	filter: invert(100%);
	filter: brightness(50);
}

/*.letterform{
	position: absolute;
	margin-top: -50px;
	margin-left: -100px;
	transform: scale(0.5);
}*/

.letterformv1{
	position: absolute;
	margin-top: -50px;
	margin-left: -350px;
	transform: scale(0.6);
	display: block;
}

.numbers{
	position: absolute;
	margin-top: 750px;
	margin-left: -350px;
	transform: scale(0.6);
	padding-bottom: 100px;
	display: block;
}