/*@media screen and (min-width: 500px) {
  body {
    transform:scale(0.2);
      }
}

@media screen and (max-width: 500px) {
  body {
    transform:scale(0.2);
      }
}
@media screen and (min-width: 1000px) {
  body {
    transform:scale(0.8);
      }
}

@media screen and (max-width: 1000px) {
  body {
    transform:scale(0.8);
      }
}*/
*{
	margin: 0px; padding-left: : 0px;
	align-items: center;
	/*max-width:100vw;
	max-height:100%;*/
}

body{
		background-color:#FFEDCA;

}

#banner{
	position:fixed;
	display: block
	width:auto;
	height:100vh;
	background:transparent;
	transform: scale(0.85);

}

#about{
	position:fixed;
	display:block;
	height:33.65px;
	width:176.12px;
	/*width:25vw;
/*	max-width: 176px;
*/	margin-left: 1100px;
	margin-top:80px;
	background:transparent;
}

#poems{
	position:fixed;
	display:block
	height:100vh;
	width:180px;
	margin-left: 1115px;
	margin-top:680px;
	background:transparent;
}

#smilerowone{
	position:absolute;
	display:block;
	height:234px;
	width:1360px;
	background:transparent;
	margin-top: 20px;
	margin-left: -300px;
	animation:move 4s linear infinite;
	animation-delay: 0.25s

}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(400px);
			}

			}

	#smilerowonetwo{
	display:block;
	position:absolute;
	height:234px;
	width:1360px;
	margin-top: 20px;
	margin-left: 1100px;
	background:transparent;
	animation:move 4s linear infinite;
	animation-delay: 0.25s;

}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(400px);
			}

			}

#smilerowtwo{
	display:block;
	position:absolute;
	height:234px;
	width:1360px;
	margin-top: 320px;
	margin-left: -200px;
	background:transparent;
	animation:move 4s linear infinite;
/*	animation-delay: 1,5s;
*/
}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(250px);
			}

			}
	#smilerowtwotwo{
	display:block;
	position:absolute;
	height:234px;
	width:1360px;
	margin-top: 320px;
	margin-left: 1200px;
	background:transparent;
	animation:move 4s linear infinite;
/*	animation-delay: 1s;
*/
}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(250px);
			}

			}

#smilerowthree{
	display:block;
	position:absolute;
	height:234px;
	width:1360px;
	margin-top: 620px;
	margin-left: -100px;
/*	min-height:234.75px;
	max-height: 234.75px;
	max-width: 1360px;*/
	background:transparent;
	animation:move 5s linear infinite;

}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(100px);
			}

			}

#smilerowthreetwo{
	display:block;
	position:absolute;
	height:234px;
	width:1360px;
	margin-top: 620px;
	margin-left: 1300px;
	/*min-height:234.75px;
	max-height: 234.75px;
	max-width: 1360px;*/
	background:transparent;
	animation:move 5s linear infinite;

}

		@keyframes move {

			0%{
				transform:translate(0);
			
			}

			50%{
				transform:translate(100px);
			}

			}
/*!!! dark mode styles !!!
*/

.darkmode{
	position:fixed;
	display: block;
	margin-left: 925px;
	margin-top: 130px;
	transform: scale(0.2);
	background-color:transparent;
	outline:none;
}

.darkmode:hover{
/*	mix-blend-mode: overlay;
*/	cursor:pointer;
}

body.darkdark {
	filter: invert(100%);
	background-color:#556E85;
	url(../images/darkmode/"bluesun.png")



	/*	redefine a CSS variable 
/*	--accent-color: rgb(0,255,0);
*/}

body.darkmode button{
/*	color: white;*/
}

