body { 
    background: #ffb347

}

.space1 {

    margin top: 150px
    width:150px;
}

body{
height: 120vh;

}

h4{

    position: fixed;
    font-family: courier new

}
.switch{

	left: 400px;
	right: 150px;
    top: 300px;
    position:fixed;
    width: 600px;
    height: 300px;
    background: black;

}

.screen{

    left: 450px;
    right: 300px;
    top: 325px;
    position:fixed;
    width: 500px;
    height: 250px;
    background: #282828;
    
}
  

.joycon1 {

    width: 125px;
    height: 300px;
  position: absolute;
    top:300px;
    left: 275px;
    border-radius: 80px 0px 0px 80px;
    background: lawngreen;
}

.circle1 {
    position: absolute;
    left:310px;
    top: 365px;
    width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%

}

.smallercircle1 {
     position: absolute;
    left:328px;
    top: 450px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%

}

.smallercircle2 {

 position: absolute;
    left:328px;
    top: 500px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%


}

.smallercircle3{

     position: absolute;
    left:305px;
    top: 475px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%
}

.smallercircle4{

     position: absolute;
    left:350px;
    top: 475px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%
}

.square1{

     position: absolute;
    left:360px;
    top: 530px;
    width: 20px;
  height: 20px;
  background: black;

}

.minus{

     position: absolute;
    left:360px;
    top: 325px;
    width: 20px;
  height: 5px;
  background: black;

}

.joycon2 {

    width: 125px;
    height: 300px;
  position: absolute;
    top:300px;
    left: 1000px;
    border-radius: 0px 80px 80px 0px;
    background: RGB(255, 13, 191);

}

.circle2 {
position: absolute;
    left:1032px;
    top: 450px;
    width: 60px;
  height: 60px;
  background: black;
  border-radius: 50%
}

.smallercircle5 {
     position: absolute;
    left:1050px;
    top: 350px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%

}

.smallercircle6 {

 position: absolute;
    left:1050px;
    top: 400px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%


}

.smallercircle7{

     position: absolute;
    left:1075px;
    top: 375px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%
}

.smallercircle8{

     position: absolute;
    left:1025px;
    top: 375px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%
}

.smallercircle9 {
position: absolute;
    left:1025px;
    top: 525px;
    width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%

}

.plus1 {
    position: absolute;
    left:1020px;
    top: 325px;
    width: 20px;
  height: 5px;
  background: black;
}

.plus2 {
    position: absolute;
    transform: rotate(90deg);
    left:1020px;
    top: 325px;
    width: 20px;
  height: 5px;
  background: black;
}



.space2 {
    height: 150px;
    bottom: 50px
    top: 0px;
    width: 100%;
}


